<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Workout</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Edit Workout</h1>
    <form action="{{ url_for('edit_workout', workout_id=workout._id) }}" method="post">
        <label for="type">Type of Exercise:</label>
        <input type="text" name="type" value="{{ workout.workout_type }}" required>
        <label for="duration">Duration (minutes):</label>
        <input type="number" name="duration" value="{{ workout.length_minutes }}" required>
        <label for="intensity">Intensity:</label>
        <input type="text" name="intensity" value="{{ workout.intensity }}" required>
        <label for="date">Date:</label>
        <input type="date" name="date" value="{{ workout.date }}" required>
        <button type="submit">Update Workout</button>
    </form>
    <a href="{{ url_for('workout_list') }}">Back to List</a>
</body>
</html>
